html, body {
  font-family: "Futura PT", sans-serif;
  height: 100%;
  margin: 0; 
}

.wrapper {
  width: 100%;
  height: 100%; 
}

.first-section {
  width: 100%;
  height: 100%; 
}

.top-part-first-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 15%;
  padding-left: 54px;
  box-sizing: border-box;
  background-color: #1C1C1C; 
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 34%;
  height: 100%; 
}

.logo-first-section {
  cursor: pointer;
  margin-right: 410px; 
}

.list-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 66%;
  height: 100%; 
}

a {
  text-decoration: none; 
}

.item-main, .item-contacts, .item-twitter, .item-facebook, .item-instagram {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  margin-right: 28px;
  color: #696969;
  transition: 0.3s; 
}

.item-projects {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  margin-right: 28px;
  color: #696969;
  color: #c8c7c7; 
}

.item-main:hover, .item-contacts:hover,
.item-twitter:hover, .item-facebook:hover, .item-instagram:hover {
  color: #838282; 
}

.bottom-part-first-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
  padding-left: 54px;
  box-sizing: border-box;
  background-color: #fff; 
}

.left-part-first-section {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%; 
}

.top-container-first-section {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  height: 40%; 
}

.title-first-section-rock {
  font-weight: 500;
  font-size: 66px;
  margin: 0;
  color: #1c1c1c; 
}

.bottom-container-first-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%; 
}

.left-container-first-section {
  width: calc(55% - 33.5px);
  height: 100%;
  padding-top: 70px;
  box-sizing: border-box;
  margin-right: 67px; 
}

.descr-first-section-left {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  color: #1c1c1c; 
}

.right-container-first-section {
  width: 45%;
  height: 100%;
  padding-top: 200px;
  box-sizing: border-box; 
}

.descr-first-section-center {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  color: #1c1c1c;
  color: #999; 
}

.right-part-first-section {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 45%;
  height: 100%;
  padding-left: 67px;
  box-sizing: border-box; 
}

.building-1 {
  width: 100%;
  height: 60%; 
}

.second-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 462px;
  padding: 67px 0 67px 44px;
  box-sizing: border-box;
  background-color: #fff; 
}

.left-part-second-section {
  display: flex;
  flex-direction: row;
  width: 55%;
  height: 100%; 
}

.left-container-second-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(55% - 33.5px);
  height: 100%;
  margin-right: 67px; 
}

.dash-second-section {
  color: #b6d7e8; 
}

.title-descr-project, .title-other-projects {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 30px;
  color: #1c1c1c; 
}

.descr-second-section {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  color: #1c1c1c;
  margin-bottom: 30px; 
}

.cost {
  cursor: pointer;
  width: 100%;
  max-width: 316px;
  height: 45px;
  border: solid 1px #b6d7e8;
  font-weight: 400;
  font-size: 14px;
  color: #1c1c1c;
  transition: 0.7s;
  background-color: transparent; 
}

.cost:hover {
  color: #b6d7e8;
  border: solid 1px #8bc8e7; 
}

.right-container-second-section {
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 100%; 
}

.top-list-main-questions {
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  margin-top: 50px;
  margin-right: 70px;
  color: #696969; 
}

.top-list-main-answers {
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  margin-top: 50px;
  margin-right: 70px;
  color: #696969;
  font-weight: 400;
  font-size: 12px;
  color: #1c1c1c; 
}

.right-part-second-section {
  width: 45%;
  height: 100%;
  padding-left: 67px;
  box-sizing: border-box; 
}

.container-second-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C; 
}

.container-for-descr-left {
  width: 50%;
  height: 100%;
  padding: 32px 0 0 24px;
  box-sizing: border-box; 
}

.number-one, .number-two, .number-three, .number-four {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-right: 12px;
  color: #b6d7e8; 
}

.title-second-section {
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin: 0;
  color: #ededed; 
}

.descr-right-part-first, .descr-right-part-second {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  margin: 8px 0 18px 30px;
  color: #ededed; 
}

.container-for-descr-right {
  width: 50%;
  height: 100%;
  padding: 32px 0 0 24px;
  box-sizing: border-box;
  padding-top: 32px; 
}

.third-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 390px;
  background-color: #fff; 
}

.top-part-third-section {
  width: 100%;
  height: 20%;
  padding: 47px 0 0 44px;
  box-sizing: border-box; 
}

.bottom-part-third-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%; 
}

.building-2, .building-3, .building-4 {
  width: 100%;
  max-width: 290px;
  height: 100%;
  max-height: 193px; 
}

.building-2, .building-3 {
  margin-right: 56px; 
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 164px;
  background-color: #1C1C1C; 
}

.left-part-footer, .right-part-footer {
  width: 33.3%;
  height: 100%;
  padding: 70px 0 0 54px;
  box-sizing: border-box; 
}

.logo-footer-section {
  cursor: pointer; 
}

.center-part-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33.4%;
  height: 100%; 
}

.right-part-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0;
  padding-right: 54px;
  box-sizing: border-box; 
}

.phone-number-footer {
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  font-weight: 400;
  color: #696969; 
}

@media screen and (max-width: 1280px) {

  .top-container-first-section {
    padding-left: 54px;
    box-sizing: border-box; 
  }

  .bottom-part-first-section {
    flex-direction: column;
    padding: 0; 
  }

  .left-part-first-section, .right-part-first-section {
    width: 100%;
    height: 50%; 
  }

  .title-first-section-rock {
    font-size: 56px; 
  }

  .right-part-first-section {
    justify-content: center;
    padding: 0; 
  }

  .left-container-first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    margin: 0;
    padding: 0;
    padding-left: 54px; 
  }

  .right-container-first-section {
    padding: 0;
    padding-top: 46px;
    box-sizing: border-box; 
  }

  .building-1 {
    width: 40%;
    height: 100%; 
  }

  .second-section {
    flex-direction: column;
    align-items: center;
    padding: 54px;
    height: 804px; 
  }

  .left-container-second-section {
    width: 45%;
    margin: 0; 
  }

  .right-container-second-section {
    width: 55%; 
  }

  .container-second-section {
    justify-content: center;
    align-items: center; }

  .left-part-second-section {
    width: 100%;
    height: 45%; 
  }

  .right-part-second-section {
    width: 100%;
    height: 55%;
    padding: 0; 
  }

  .container-for-descr-left, .container-for-descr-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    padding: 0; 
  } 

}

@media screen and (max-width: 1060px) {

  .title-first-section-rock {
    font-size: 45px; 
  }

  .building-1 {
    width: 50%; 
  }

  .left-container-second-section {
    width: 55%; 
  }

  .right-container-second-section {
    width: 45%; 
  }

  .container-for-descr-left, .container-for-descr-right {
    width: 40%; 
  }

  .container-for-descr-left {
    padding-left: 60px; 
  }

  .container-for-descr-right {
    padding-left: 20px; 
  }

  .third-section {
    height: 1190px; 
  }

  .top-part-third-section {
    height: 7%; 
  }

  .bottom-part-third-section {
    flex-direction: column;
    height: 93%; 
  }

  .building-2, .building-3, .building-4 {
    max-width: 390px;
    max-height: 293px; 
  }

  .building-2, .building-3 {
    margin: 0;
    margin-bottom: 56px; 
  } 

}

@media screen and (max-width: 950px) {

  .left-container-second-section {
    width: 60%; 
  }

  .right-container-second-section {
    width: 40%; 
  } 

}

@media screen and (max-width: 912px) {

  .left-part-first-section {
    height: 60%; 
  }

  .right-part-first-section {
    align-items: center;
    height: 40%; 
  }

  .right-container-first-section {
    padding-top: 62px; 
  }

  .building-1 {
    width: 45%;
    height: 80%; 
  } 

}

@media screen and (max-width: 872px) {

  .building-1 {
    width: 40%; 
  }

  .top-list-main-questions {
    margin-right: 40px; 
  }

  .container-for-descr-left, .container-for-descr-right {
    width: 50%; 
  }

  .container-for-descr-left {
    padding-left: 70px; 
  }

  .container-for-descr-right {
    padding-left: 50px; 
  } 

}

@media screen and (max-width: 800px) {

  .title-first-section-rock {
    font-size: 40px; 
  }

  .top-container-first-section {
    height: 30%; 
  }

  .bottom-container-first-section {
    flex-direction: column;
    height: 70%; 
  }

  .left-part-first-section {
    height: 50%; 
  }

  .left-container-first-section, .left-part-first-section, .right-container-first-section {
    width: 100%; 
  }

  .right-container-first-section {
    padding: 26px 0 0 54px; 
  }

  .building-1 {
    width: 45%; 
  }

  .second-section {
    height: 1204px;
    padding: 0 54px; 
  }

  .left-part-second-section {
    flex-direction: column; 
  }

  .left-container-second-section, .right-container-second-section {
    width: 100%; 
  }

  .left-container-second-section {
    height: 60%; 
  }

  .right-container-second-section {
    height: 40%;
    box-sizing: border-box; 
  }

  .container-for-descr-left, .container-for-descr-right {
    width: 100%;
    height: 50%;
    padding: 0 204px; 
  }

  .container-for-descr-left {
    padding-top: 25px; 
  } 

}

@media screen and (max-width: 768px) {

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 204px;
    padding-right: 144px; 
  } 

}

@media screen and (max-width: 720px) {

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 184px; 
  } 

}

@media screen and (max-width: 700px) {

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 164px;
    padding-right: 124px; 
  } 

}

@media screen and (max-width: 650px) {

  .top-part-first-section {
    padding: 0; 
  }

  .top-container-first-section {
    padding-left: 14px; 
  }

  .left-container-first-section, .right-container-first-section {
    padding-left: 14px; 
  }

  .logo-section, .list-section {
    width: 100%;
    height: 50%; 
  }

  .logo-section {
    padding-left: 54px;
    box-sizing: border-box; 
  }

  .list-section {
    justify-content: center; 
  }

  .second-section {
    padding: 0 24px; 
  }

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 144px;
    padding-right: 124px; 
  }

  .top-part-third-section {
    padding: 47px 0 0 14px; 
  }

  .footer {
    flex-direction: column;
    height: 162px; 
  }

  .left-part-footer, .right-part-footer {
    width: 100%;
    height: 33.3%; 
  }

  .left-part-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0; 
  }

  .center-part-footer {
    justify-content: flex-start;
    width: 100%;
    height: 33.4%; 
  }

  .right-part-footer {
    align-items: flex-start; 
  }

  .left-part-footer, .center-part-footer, .right-part-footer {
    padding-left: 74px;
    box-sizing: border-box; 
  } 

}

@media screen and (max-width: 568px) {

  .building-1 {
    width: 55%; 
  }

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 124px;
    padding-right: 104px; 
  } 

}

@media screen and (max-width: 530px) {

  .building-1 {
    width: 60%; 
  }

  .title-first-section-rock {
    font-size: 35px; 
  }

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 114px;
    padding-right: 84px; 
  } 

}

@media screen and (max-width: 500px) {
  
  .container-for-descr-left, .container-for-descr-right {
    padding-left: 104px;
    padding-right: 64px; 
  } 

}

@media screen and (max-width: 480px) {

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 84px;
    padding-right: 64px; 
  } 

}

@media screen and (max-width: 450px) {

  .building-1 {
    width: 70%; 
  }

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 74px;
    padding-right: 44px; 
  } 

}

@media screen and (max-width: 430px) {

  .building-1 {
    width: 75%; 
  }

  .second-section {
    padding: 0 14px; 
  }

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 64px;
    padding-right: 44px; 
  } 

}

@media screen and (max-width: 410px) {

  .descr-second-section, .descr-first-section-left, .descr-first-section-center,
  .top-list-main-questions, .top-list-main-answers, .descr-right-part-second {
    font-size: 10px; 
  }

  .third-section {
    height: 910px; 
  }

  .building-2, .building-3, .building-4 {
    max-width: 290px;
    max-height: 193px; 
  } 

}

@media screen and (max-width: 400px) {

  .left-part-footer, .center-part-footer, .right-part-footer {
    justify-content: center;
    padding: 0; 
  }

  .center-part-footer, .list-section {
    padding-left: 24px; 
  }

  .right-part-footer {
    align-items: center; 
  } 

}

@media screen and (max-width: 390px) {

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 54px;
    padding-right: 24px; 
  } 

}

@media screen and (max-width: 364px) {

  .container-for-descr-left, .container-for-descr-right {
    padding-left: 40px;
    padding-right: 24px; 
  } 
}

/*# sourceMappingURL=style.css.map */